/* En src/app/components/contacto/contacto.css */

.contacto-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contacto-container h1 {
    color: #ff0000; /* Título principal rojo */
    font-size: 2rem;
    margin-bottom: 10px;
}

.contacto-container p {
    color: #555;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #212529;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box; /* Incluir padding y borde en el ancho */
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button[type="submit"] {
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #ff0000; /* Botón rojo de NOTIFLASH */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #c00000; /* Rojo más oscuro al pasar el ratón */
}