<div class="team-section">
Ñ    <h2 class="section-title"> CONOCE A NUESTRO EQUIPO </h2>
    <p class="team-intro">Somos un grupo de estudiantes apasionados, dedicados a construir un portal de noticias que prioriza la velocidad y la veracidad. ¡Juntos, hacemos NOTIFLASH posible!</p>
    
    <div class="members-container">

        <div class="member-card">
            <h3 class="member-name">Eduar Fabian Perdomo Gomez</h3>
            <p class="member-role">Desarrollador de NOTIFLASH</p>
            <hr>
            <p><strong>Universidad:</strong> Corporación Unificada Nacional de Educación Superior (CUN)</p>
            <p><strong>Semestre:</strong> Quinto (5to)</p>
            <p class="member-focus">Aplicamos y ponemos a prueba los conocimientos adquiridos en nuestros respectivos semestres, construyendo cada sección de NOTIFLASH mientras aprendemos a trabajar como un equipo de desarrollo ágil y comprometido.</p>
        </div>

        <div class="member-card">
            <h3 class="member-name">Max</h3>
            <p class="member-role">Desarrollador de NOTIFLASH</p>
            <hr>
            <p><strong>Universidad:</strong> Corporación Unificada Nacional de Educación Superior (CUN)</p>
            <p><strong>Semestre:</strong> Quinto (5to)</p>
            <p class="member-focus">Aplicamos y ponemos a prueba los conocimientos adquiridos en nuestros respectivos semestres, construyendo cada sección de NOTIFLASH mientras aprendemos a trabajar como un equipo de desarrollo ágil y comprometido.</p>
        </div>

        <div class="member-card">
            <h3 class="member-name">Mauricio Yate Solorzano</h3>
            <p class="member-role">Desarrollador de NOTIFLASH</p>
            <hr>
            <p><strong>Universidad:</strong> Corporación Unificada Nacional de Educación Superior (CUN)</p>
            <p><strong>Semestre:</strong> Quinto (5to)</p>
            <p class="member-focus">Aplicamos y ponemos a prueba los conocimientos adquiridos en nuestros respectivos semestres, construyendo cada sección de NOTIFLASH mientras aprendemos a trabajar como un equipo de desarrollo ágil y comprometido.</p>
        </div>
    </div>

    <div class="project-info">
        <h3>SOBRE NUESTRO PROYECTO</h3>
        <p>Somos un equipo de 3 estudiantes universitarios que hemos transformado la teoría en práctica. NOTIFLASH es nuestro proyecto final para el curso de PROGRAMACION WEB/FIHCA14683, donde nos retamos a construir un portal de noticias funcional desde cero. Nuestro enfoque es aplicar tecnologías de vanguardia, como Angular para crear una aplicación de una sola página (SPA). Estamos en una etapa clave de aprendizaje, donde cada línea de código es una oportunidad para mejorar nuestra colaboración y habilidades de desarrollo.                     </p>
        <p class="note">¡Gracias por ser parte de nuestro proceso!</p>
    </div>
</div>
