h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}