<div class="noticia-container">
  <h1 class="titulo">{{ noticia.titulo }}</h1>
  <h2 class="subtitulo">{{ noticia.subtitulo }}</h2>
  <p class="autor">
    Por {{ noticia.autor }} — {{ noticia.fecha | date:'MMMM yyyy' }}
  </p>

  <div class="imagen-container">
    <img [src]="noticia.imagenUrl" alt="Imagen de la noticia" class="imagen" />
    <p class="pie-foto">{{ noticia.pieFoto }}</p>
  </div>

  <div class="contenido">
    <p *ngFor="let parrafo of noticia.contenido.split('\n')">
      {{ parrafo }}
    </p>
  </div>
  
<button class="boton-volver" (click)="volver()">
  <span class="icono">⬅️</span>
  <span class="texto">Volver a Noticias</span>
</button>

</div>
